<div class="h-14" style="background-color: var(--main-red)">
  <div class="container flex h-full justify-between items-center">
    <div class="h-full flex items-center">
      <span class="font-medium">&copy; 2022</span>&ndash; Hardware Store
    </div>
    <ul class="space-x-3 flex">
      <li><a href="https://www.facebook.com" target="_blank"><img src="assets/icons/facebook_icon.svg" /></a></li>
      <li><a href="https://twitter.com" target="_blank"><img src="assets/icons/twitter_icon.svg" /></a></li>
      <li><a href="https://github.com/GnchrvDm1try/Hardware-Store" target="_blank"><img src="assets/icons/github_icon.svg" /></a></li>
      <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ" target="_blank"><img src="assets/icons/youtube_icon.svg" /></a></li>
    </ul>
  </div>
</div> 
