<div *ngIf="product !== undefined; else undef">
  <div class="flex mt-2 justify-between items-center">
    <h2 class="font-semibold text-3xl m-0 break-words max-w-[70%]">{{product.name}}</h2>
    <h3 class="font-semibold text-xl m-0 break-words max-w-[30%] text-gray-400">{{product.category.name}}</h3>
  </div>

  <hr />

  <div class="flex">
    <div class="border w-[550px] h-[550px]">
      <img class="w-full h-full object-cover" src="https://c4.wallpaperflare.com/wallpaper/108/140/869/digital-digital-art-artwork-fantasy-art-drawing-hd-wallpaper-thumb.jpg" alt="Failed to load the image." />
    </div>
    <div style="width: calc(100% - 550px)" class="relative pl-4">
      <div class="flex">
        <div class="flex flex-col w-1/2">
          <p>Manufacturer:</p>
          <p>Country of production:</p>
          <ng-container *ngFor="let specification of product.specifications">
            <p>{{specification.name | titlecase}}</p>
          </ng-container>
        </div>

        <div class="flex flex-col w-1/2 text-right">
          <p>{{product.manufacturer.name}}</p>
          <p>{{product.countryproducer.name}}</p>
          <ng-container *ngFor="let specification of product.specifications">
            <p>{{specification.value}}</p>
          </ng-container>
        </div>
      </div>

      <div class="flex w-full justify-between items-center absolute bottom-0">
        <div class="flex items-center space-x-2">
          <img class="w-8" src="assets/icons/star_icon.svg" *ngFor="let item of [].constructor(+product.rating.toFixed())">
          <p class="font-semibold">({{product.rating}})</p>
        </div>
        <ng-container *ngIf="isUserAuthenticated">
          <img *ngIf="isInWishlist" class="w-6 h-6" src="assets/icons/heart_filled_icon.svg" (click)="toggleWishlistItem()" />
          <img *ngIf="!isInWishlist" class="w-6 h-6" src="assets/icons/heart_unfilled_icon.svg" (click)="toggleWishlistItem()" />
        </ng-container>
          <p class="font-semibold">{{product.price | currency}}</p>
        </div>
    </div>
  </div>

  <hr />

  <div class="mx-auto w-[80%]">
    <p class="text-lg text-center">{{product.description}}</p>
  </div>

  <hr />

  <div class="space-y-2">
    <div *ngFor="let review of reviews" class="border rounded p-2">
      <div class="flex justify-between">
        <p class="font-medium">{{review.user.firstname}} {{review.user.lastname}}</p>
        <p>{{review.reviewdate}}</p>
      </div>
      <div class="text-justify break-words mx-auto max-w-[95%]">
        <p>{{review.comment}}</p>
      </div>
      <p class="font-semibold">{{review.estimation}}</p>
    </div>
  </div>
</div>
<ng-template #undef><p>undefined</p></ng-template>
