<form class="w-1/4" [formGroup]="form" method="post" (ngSubmit)="logFormControls()">
  <div class="flex flex-col">
    <label>First name<span>*</span></label>
    <input type="text" name="firstName" formControlName="firstName" maxlength="50" />
    <div *ngIf="form.get('firstName') as fn">
      <div *ngIf="fn?.touched && fn?.invalid">
        <span *ngIf="fn.errors?.required">You have to provide your first name</span>
        <span *ngIf="fn.errors?.minlength">The first name has to be 2 or more characters long</span>
        <span *ngIf="fn.errors?.pattern">The first name has to start with a letter and consist only of letters, space, - or '</span>
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <label>Last name<span>*</span></label>
    <input type="text" name="lastName" formControlName="lastName" maxlength="50" />
    <div *ngIf="form.get('lastName') as ln">
      <div *ngIf="ln?.touched && ln?.invalid">
        <span *ngIf="ln.errors?.required">You have to provide your last name</span>
        <span *ngIf="ln.errors?.minlength">The last name has to be 2 or more characters long</span>
        <span *ngIf="ln.errors?.pattern">The last name has to start with a letter and consist only of letters, space, - or '</span>
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <label>Email<span>*</span></label>
    <input type="email" name="email" formControlName="email" maxlength="320" />
    <div *ngIf="form.get('email') as em">
      <div *ngIf="em?.touched && em?.invalid">
        <span *ngIf="em.errors?.required">You have to provide your email</span>
        <span *ngIf="em.errors?.email">Email is incorrect</span>
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <label>Phone number</label>
    <input type="tel" name="phoneNumber" formControlName="phoneNumber" />
    <div *ngIf="form.get('phoneNumber') as pn">
      <div *ngIf="pn?.touched && pn?.invalid">
        <span *ngIf="pn.errors?.pattern">Phone number is incorrect</span>
      </div>
    </div>
  </div>
  <div class="flex justify-between">
    <div>
      <label class="block">Date of birth<span>*</span></label>
      <input type="date" min="{{minAllowedBirthDate}}" max="{{maxAllowedBirthDate}}" name="birthDate" formControlName="birthDate" required />
      <div *ngIf="form.get('birthDate') as bd">
        <div *ngIf="bd?.touched && bd?.invalid">
          <span *ngIf="bd.errors?.required">You have to provide your date of birth</span>
        </div>
      </div>
    </div>
    <div>
      <label>Sex<span>*</span></label>
      <div class="flex">
        <label class="mr-2" for="male">Male</label>
        <input class="mr-4" type="radio" name="sex" formControlName="sex" value="male" id="male" required />
        <label class="mr-2" for="female">Female</label>
        <input type="radio" name="sex" formControlName="sex" value="female" id="female" required />
      </div>
      <div *ngIf="form.get('sex') as sx">
        <div *ngIf="sx?.touched && sx?.invalid">
          <span *ngIf="sx.errors?.required">You have to provide your sex</span>
        </div>
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <label>Address</label>
    <input type="text" name="address" formControlName="address" maxlength="200" />
    <div *ngIf="form.get('address') as ad">
      <div *ngIf="ad?.touched && ad?.invalid">
        <span *ngIf="ad.errors?.minlength">The address has to be 8 or more characters long</span>
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <label>Password<span>*</span></label>
    <input type="password" name="password" formControlName="password" required />
    <div *ngIf="form.get('password') as pw">
      <div *ngIf="pw?.touched && pw?.invalid">
        <span *ngIf="pw.errors?.required">You have to provide password</span>
        <span *ngIf="pw.errors?.minlength">The password has to be 8 or more characters long</span>
        <span *ngIf="pw.errors?.pattern">Password must contain at least one uppercase letter, one lowercase letter, one number and one special character</span>
      </div>
    </div>
  </div>
  <div class="flex flex-col">
    <label>Confirm password<span>*</span></label>
    <input type="password" name="passwordConfirm" formControlName="passwordConfirm" required />
    <div *ngIf="form.get('passwordConfirm') as pc">
      <div *ngIf="pc?.touched">
        <span *ngIf="pc.errors?.required">You have to confirm the password</span>
        <span *ngIf="form.get('password')?.value !== pc.value">Passwords do not match</span>
      </div>
    </div>
  </div>
  <button [disabled]="form.invalid" type="submit">Sign Up</button>
</form>
