<ng-container *ngIf="user">
  <div class="flex items-start">
    <div class="border-x-2 mr-[-1px] border-b-2 w-1/4 p-2 rounded-b-md" style="border-color: var(--main-red);">
      <ul class="space-y-1 mb-4">
        <li>
          <img class="credential-icon" src="assets/icons/user_icon.svg" alt="">
          <div>
            <h3>Full Name<a class="flex float-right underline" [routerLink]="['Edit']"><img class="w-[18px]" src="assets/icons/edit_icon.svg">Edit</a></h3>
            <p class="set">{{user['firstname']}} {{user['lastname']}}</p>
          </div>
        </li>
        <li>
          <img class="credential-icon" src="assets/icons/email_icon.svg" alt="">
          <div>
            <h3>Email</h3>
            <p class="set">{{user['email']}}</p>
          </div>
        </li>
        <li>
          <img class="credential-icon" src="assets/icons/phone_icon.svg" alt="">
          <div>
            <h3>Phone Number</h3>
            <ng-container *ngIf="user['phonenumber'] !== null; else noNumber">
              <p class="set">{{user['phonenumber']}}</p>
            </ng-container>
            <ng-template #noNumber>
              <p class="not-set">Not set</p>
            </ng-template>
          </div>
        </li>
        <li>
          <img class="credential-icon" src="assets/icons/calendar_icon.svg" alt="">
          <div>
            <h3>Date of Birth</h3>
            <p class="set">
              {{user['birthdate']['day']}}.{{user['birthdate']['month']}}.{{user['birthdate']['year']}}
            </p>
          </div>
        </li>
        <li>
          <img class="credential-icon" src="assets/icons/address_icon.svg" alt="">
          <div>
            <h3>Address</h3>
            <ng-container *ngIf="user['address'] !== null; else noAddress">
              <p class="set">{{user['address']}}</p>
            </ng-container>
            <ng-template #noAddress>
              <p class="not-set">Not set</p>
            </ng-template>
          </div>
        </li>
        <li>
          <ng-container *ngIf="user['sex'] === 'male'; else female">
            <img class="credential-icon" src="assets/icons/male_icon.svg" alt="">
          </ng-container>
          <ng-template #female>
            <img class="credential-icon" src="assets/icons/female_icon.svg" alt="">
          </ng-template>
          <div>
            <h3>Sex</h3>
            <p class="set">{{user['sex'] | titlecase}}</p>
          </div>
        </li>
        <li>
          <img class="credential-icon" src="assets/icons/calendar_icon.svg" alt="">
          <div>
            <h3>Registration Date</h3>
            <p class="set">{{registrationDate[2]}}.{{registrationDate[1]}}.{{registrationDate[0]}}</p>
          </div>
        </li>
      </ul>
      <div class="flex justify-around border-2 rounded" style="border-color: var(--main-slate)">
        <a class="navigation-link" [routerLink]="['Orders']" [routerLinkActive]="['navigation-link-focus']"><img src="assets/icons/check_list_icon.svg" />Orders</a>
        <a class="navigation-link" [routerLink]="['Wishlist']" [routerLinkActive]="['navigation-link-focus']"><img src="assets/icons/favorite_icon.svg" />Wishlist</a>
        <a class="navigation-link" [routerLink]="['Reviews']" [routerLinkActive]="['navigation-link-focus']"><img src="assets/icons/review_icon.svg" />Reviews</a>
      </div>
    </div>
    <div class="flex flex-col overflow-y-auto border-x-2 ml-[-1px] w-3/4" style="height: calc(100vh - 112px); border-color: var(--main-red)">
      <router-outlet></router-outlet>
    </div>
  </div>
</ng-container>
