<header class="h-14" style="background-color: var(--main-red)">
  <nav class="h-full">
    <div class="container mx-auto h-full flex items-center justify-between">
      <a class="font-bold text-2xl" [routerLink]="['']">Hardware-Store</a>
      <ul class="flex font-medium text-lg space-x-[20px]">
        <li>
          <a href="#">About Us</a>
        </li>
        <li>
          <a href="#">Reviews</a>
        </li>
      </ul>
      <ul class="flex font-medium text-lg space-x-[20px]">
        <li *ngIf="isLoggedIn">
          <a [routerLink]="['Profile']">Profile</a>
        </li>
        <li *ngIf="isLoggedIn">
          <button (click)="logout()">Logout</button>
        </li>
        <li *ngIf="!isLoggedIn">
          <a [routerLink]="['Login']">Login</a>
        </li>
        <li *ngIf="!isLoggedIn">
          <a [routerLink]="['Registration']">Register</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
