<ng-container *ngIf="user">
    <div class="flex">
        <div class="border-x-2 border-b-2 w-1/4 p-2 rounded-b-md" style="border-color: var(--main-red);">
            <ul class="space-y-1">
                <li>
                    <img src="assets/icons/user_icon.svg" alt="">
                    <div>
                        <h3>Full Name</h3>
                        <p class="set">{{user['firstname']}} {{user['lastname']}}</p>
                    </div>
                </li>
                <li>
                    <img src="assets/icons/email_icon.svg" alt="">
                    <div>
                        <h3>Email</h3>
                        <p class="set">{{user['email']}}</p>
                    </div>
                </li>
                <li>
                    <img src="assets/icons/phone_icon.svg" alt="">
                    <div>
                        <h3>Phone Number</h3>
                        <ng-container *ngIf="user['phonenumber'] !== null; else noNumber">
                            <p class="set">{{user['phonenumber']}}</p>
                        </ng-container>
                        <ng-template #noNumber>
                            <p class="not-set">Not set</p>
                        </ng-template>
                    </div>
                </li>
                <li>
                    <img src="assets/icons/calendar_icon.svg" alt="">
                    <div>
                        <h3>Date of Birth</h3>
                        <p class="set">
                            {{user['birthdate']['day']}}.{{user['birthdate']['month']}}.{{user['birthdate']['year']}}
                        </p>
                    </div>
                </li>
                <li>
                    <img src="assets/icons/address_icon.svg" alt="">
                    <div>
                        <h3>Address</h3>
                        <ng-container *ngIf="user['address'] !== null; else noAddress">
                            <p class="set">{{user['address']}}</p>
                        </ng-container>
                        <ng-template #noAddress>
                            <p class="not-set">Not set</p>
                        </ng-template>
                    </div>
                </li>
                <li>
                    <ng-container *ngIf="user['sex'] === 'male'; else female">
                        <img src="assets/icons/male_icon.svg" alt="">
                    </ng-container>
                    <ng-template #female>
                        <img src="assets/icons/female_icon.svg" alt="">
                    </ng-template>
                    <div>
                        <h3>Sex</h3>
                        <p class="set">{{user['sex'] | titlecase}}</p>
                    </div>
                </li>
                <li>
                    <img src="assets/icons/calendar_icon.svg" alt="">
                    <div>
                        <h3>Registration Date</h3>
                        <p class="set">{{registrationDate[2]}}.{{registrationDate[1]}}.{{registrationDate[0]}}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</ng-container>